.data-cell {
    text-align: left;
    vertical-align: middle;
    color: #333;
}

.empty-data-row {
    text-align: center;
    font-style: italic;
    padding: 16px;
    background-color: #e6e6e6;
    color: #555;
}
